
<section class="About__Jojima">
	<div class="AboutUs">
		<div class="AboutUs__first">
			<p>
				福岡県南西部に位置する久留米市<br>筑後川をはさんで佐賀県との県境に位置するのが私たちの暮らす城島町です<br>季節とともに色を変える田畑と360度を囲む山々<br>そしてそのすべてを包みこむ広い空<br><br>
				城島町で生まれ育った人や物を一言で言い表すならば、まあそんな田舎者です<br>ときに、それは人を笑い者にする際に使われますが<br>私たちはそこに含まれる温和や素直または真面目であったり愚直という気質に<br>居心地の良さそして誇りを感じているわけです
			</p>
		</div>
		<div class="AboutUs__second">
			<p>
				<br>私たちの歴史、文化、そして暮らしには、この九州最大の河川とともにあります<br>いろんなものがこの川を上って九州に伝わって<br>あるものは文化となり<br>あるものは産業となり<br>あるものは伝統となりました<br><br>日本酒の原料もこの大河の恵み<br>堆積した粘土質の土は瓦となって人々の暮らしを支えてきました<br><br>川がそばにある暮らし<br>それは私たちにとっては当たり前の風景なんです
			</p>
		</div>

		<div class="AboutUs__third">
			<p>
				しかしかつては<br>一夜にして町を飲み込んでしまうほどの暴れ川でした<br>当時の人々はそれを「一夜川」と読んで<br>恐れ、戦い<br>そして共存してきました<br><br>楽しいときも　つらいときも<br>どんなに時代が移り変わろうとも<br>筑後川は私たちの生活の一部ということは<br>変わりません<br><br>ここで生まれ、育った私たちと<br>そんな私たちが作ったものを<br>味わってほしい　感じてほしいのです
			</p>
		</div>
		<div class="AboutUs__fourth">
			<p>
				ここには何もないから<br>だからこそ新しく何かが生まれる<br>その喜びをみんなで分かち合いたい<br>昨日までの城島を知って<br>今日の城島を感じて<br>そして明日の城島を一緒に作っていきたい<br>そんな思いを「あしたの城島」に込めました</div>
			</p>
		</div>
</section>