@import "base/variable";

/*Start of admin/orders/css*/
.OrderList {
	width: 820px;
	margin: 150px auto 100px;
	background-color: white;
	border: solid 1px $theme-color;

	&__item{

		th {
			text-align: center;
		}
		td {
			width: 120px;
			height: 30px;
			text-align: center;
		}
	}
		h1 {
			text-align: center;
			font-size: 24px;
		}
}
/*End of admin/orders/css*/


/*admin/orders/idのスタイルここから*/
	.OrderInfo {
		width: 600px;
		height: 100%;
		margin: 100px auto;
		background-color: white;
		border: solid 1px $theme-color;
		font-weight: bold;

		ul {
			padding: 0;
		}

		ul li {
			list-style-type: none;
			text-align: center;
			margin: 10px;
		}

		&__id {
			border-bottom: dotted 1px $color-sakura;
			margin: 20px;
		}

		&__info {
			margin: 20px;
		}

		&__info {
			margin: 20px;
		}

		&__status {
			border-top: solid 1px $color-sakura;
			text-align: center;

			&--detail{
				font-weight: bold; 
				font-size: 22px; 
				margin-top: 10px;
				color: #00FF3B;
				letter-spacing: 3px;
				text-align: center;
			}

		
			input {
			text-align: center;
			border: solid 1px $color-sakura;
			background-color: $color-sakura;
			width: 100px;
			height: 30px;
			font-size: 12px;
			border-radius: 5px;
			color: white;
			margin: 10px auto 30px auto;
			}
		}
	}
/*admin/orders/idのスタイルここまで*/