#form_notext {
	background-color: #eeeeee;
	width: 480px;
	height: 100%;
	text-align: center;
	margin: 80px auto;

	h2 {
		padding: 30px;
		margin: 0 auto;
	}

	input {
		height: 40px;
		width: 380px;
		margin: 5px auto;
		font-size: 120%;
		border-radius: 5px;
		border-style: solid 0.1px gray;
	}

	.actions input {
		color: white;
		height: 50px;
		width: 386px;
		background-color: $color-sakura;
		margin: 20px auto;
		border-style: none;
	}

	input#user_remember_me {
	height: 16px;
	width: 16px;
	margin: 5px auto;
	font-size: 120%;
	border-radius: 5px;
	border-style: solid 0.1px gray;
	}

	.field {
		height:50px;

		input {
			margin:10px auto;
		}
	}

}
