<%= stylesheet_link_tag "desktop/web/terms", :media => "all" %>

<section class ="DeliveryRemarks">
	<h1>送料について</h1>
	<p>明日の城島は、福岡県久留米市城島町で営業している事業所を一つにまとめた通販サイトとなっています。配送方法・送料は事業所によって異なっておりますので、以下ご確認ください。</p>
	<p>また、送料は一回のお買い物につき、事業所ごと発生致します。同一事業所から複数の商品を購入頂いた場合は、送料は一つ分となりますが、事業所をまたいで商品をご購入された場合、送料は事業所ごとに発生しますのでご注意ください。</p>
	<p>以下に例を挙げておりますので、ご参照ください。</p>

	<div class="DeliveryRemarks__table">
		<%= cl_image_tag("terms/shipping_fee_table3.png", :class => "pc") %>
		<%= cl_image_tag("terms/shipping_fee_table_sp.png", :class => "sp") %>
	</div>

	<h2>配送料の例</h2>

	<div class="DeliveryRemarks__case">
		<p>例1:</p>
		<p>
			【お住まい】東京<br>
			【購入した商品】うどん麺×1、海苔×2（商品A×2）、日本酒1<br>
			【送料の合計】500円＋500円＋750円＝1,750円<br>
		</p>
		<p>例2:</p>
		<p>
			【お住まい】福岡<br>
			【購入した商品】日本酒×3（銘柄A×1、B×１、C×1）、いぐさ製品×2（座布団×1、その他×1）<br>
			【送料の合計】400円＋0円＝400円<br>
		</p>
	</div>

	<p>※複数回に分けて購入した場合、同一事業所でも送料が別途かかりますのでご注意ください。</p>
</section>