<section class ="TermsofService">

<h1>サービス利用規約</h1>
<dl>
<dt>オンラインショッピング利用規約</dt>

<dd>あしたの城島（以下「当サイト」）は、以下のオンラインショッピング利用規約（以下「本規約」）に基づいてサービス（以下「本サービス」）をご提供いたします。
お客様が当サイト（第1条に定義）をご利用される場合は、本規約に同意されたものとみなしますので、必ず本規約をお読み下さい。</dd>

<dt>規約の変更</dt>
<dd>当サイトは、お客様への事前通知、承諾なしに本規約を変更できるものとします。</dd>

<dt>第1条（当サイトの定義</dt>
「当サイト」とは、サイト責任者宗 司が運営するインターネット上のショッピングサイト「あしたの城島」を意味します。

<dt>第2条（契約の成立）</dt>
<dd>お客様が商品を購入をされる際は、当サイトが指定する方法に従って、商品購入のお申し込み、注文を行っていただきます。
商品購入申込みが承諾され、当サイトとの売買契約が成立するのは、お客様が選択された商品の支払方法および配送方法に関わらず、当サイトにて「カードで支払う」ボタンを押されたとき、また当サイトがお客様の銀行振り込みを確認したときとなります。</dd>

<dt>第3条（決済方法・引渡方法</dt>
<dd>商品購入代金の支払方法は、クレジットカードによる支払いまたは銀行振り込みがご利用いただけます。なお、商品の送料及びカード決済手数料は、お客様のご負担となります。
注文画面にて決定された決済方法、注文内容に関しては、第2条の売買契約が成立した後に変更することはできません。
クレジットカードによるお支払いに関しては、以下のことをご確認の上、ご利用ください。
当社が承認したクレジットカード会社が発行するクレジットカードのみご利用いただけます。
なお、カードのご利用に関しては、クレジットカード会社の会員規約に基づきます。
万が一、お客様と当該クレジットカード会社などの間でトラブルが発生した場合は、当該当事者双方で解決するものとし、当サイトでは損害賠償等の責任を一切負いません。</dd>

<dt>第4条（販売価格）</dt>
<dd>本サイトの商品の価格は、その価格表示を行い始めた時点での販売価格であり、変更される場合がございます。
価格が変更された場合、変更後の価格は同変更後の取引にのみ適用されます。変更前の取引についての補填や値引き等は一切致しませんので予めご了承ください。
掲載商品の価格につきましては細心の注意を払っておりますが、人為的なミスにより、通販サービス上の価格が実際の販売価格と異なる場合がございます。
その場合には、当社が適当と思われる連絡方法において、ご注文後に正規の価格をご連絡し、ご購入の意思確認をさせていただく、または当サイトからご注文をキャンセルさせていただき、再度新規でご注文いただくなどの対応をさせていただきます。</dd>

<dt>第5条（返品・交換）</dt>
<dd>原則、キャンセル、その他、返品・交換は原則お受けしておりません。
お客様ご都合でのキャンセルの場合は、送料と商品損害金をご請求させていただきますのでご注意下さい。
なお、不良品やご注文した商品と違うものが届いた場合は、至急返品、交換の対応をさせていただきますので当サイト「お問い合わせ」→「お問い合わせフォーム」よりご連絡ください。</dd>

<dt>第6条（所有権の移転及び危険負担）</dt>
<dd>当サイトで購入されたすべての商品は、配送に関する契約に基づき、配送業者がお客様に商品を引き渡した時点で、その商品に関する紛失のリスクと所有権はお客様に移るものとします。</dd>

<dt>第7条（解除事項）</dt>
<dd>当サイトでは以下の行為に該当した場合、事前通知しに売買契約を解除、その他適切な措置をとらせていただきます。また、それによりお客様に生じた損害に関しては一切責任を負いません｡
・ご注文の際に指定された引渡場所に納品に伺ったにも関わらず、宛先不明、長期ご不在で運送会社より弊社に商品が返送された場合など、引き渡しが完了できない場合。
・ご指定いただいたクレジットカード会社からカード与信不履行など連絡があった場合。
・お客様の支払い能力が危うくなったと認めうる事情が判明した場合。
・注文いただいた商品の在庫がなくお届けできない場合。
・その他当サイトの定めるいずれかの規約に違反した場合。</dd>

<dt>第8条（免責事項）</dt>
<dd>当サイトは、価格表示、商品説明、その他本サービスに関連する本サイトに掲載されるコンテンツの情報の正確性、完全性または有用性については保証いたしません。
クレジットカードによる代金支払いを選択された場合でも、お客様がご利用を申し出られたクレジットカードが同クレジットカード会社より無効を通知されたものである場合や、申し込まれた方がお客様ご本人ではないと疑われる場合、その他カードの使用状況に不審な点が見られる場合などにつきましては、ご注文を取り消させていただく場合がございます。このことに関して発生したお客様の損害について、当サイトは一切の責任を負いません。
システムの定期保守および緊急保守のために必要であった場合、火災、停電、第三者による妨害行為その他当社にとり不可抗力な事由によりシステムの運用が困難になった場合、及び当サイトが必要と判断した場合、本サービスに遅滞、変更、一時的もしくは断続的な中断が生じたり、又は本サービスを停止、もしくは廃止することがございますが、それに起因又は関連して発生した利用者又は第三者の損害について、当サイトは一切の責任を負いません。
当サイトには個人情報を入力する画面にSSLという暗号化技術（クレジットカード会社が推奨するインターネットにおける暗号化技術）を使用しておりますが、その安全性については当社によって保証されるものではありません。万一当社に過失なく損害が発生した場合には、当社はその責任を負わないものとします。
お客様が、本サービスをご利用になることにより、他のお客様または第三者に対して損害などを与えた場合には、当該お客様は自己の責任と費用において解決し、当社には一切損害を与えないものとします｡</dd>

<dt>第9条（知的財産権）</dt>
<dd>本サイト上に含まれる文章・画像等のコンテンツを含む、全ての知的財産権は、当サイトまたは当該コンテンツ提供者に帰属し、関連する国内外の法律によって保護されています。
当サイトに提供されているこれらの情報および画像等に関するお客様の私的利用を超える行為（無断での複製・公開・譲渡・転載等）は知的財産権の侵害にあたる場合がございますので、禁止いたします。</dd>

<dt>第10条（遵守事項）</dt>
<dd>お客様が、当サイトをご利用いただくにあたっては、以下の事を遵守していただきます。
万一違反された場合には、当サイトの利用停止等の措置を採らせていただきますのでご了解下さい。

・当サイト及びこれに関連するプログラムを、本規約その他当サイトの指定する方法に従ってご利用いただくこと。
・本サービスを利用して、犯罪行為その他当社及び第三者に損害を及ぼす行為を行わないこと。
・反社会勢力に利益を提供したり、親密な関係を築いている事実がないこと、又は反社会勢力との取引関係がないこと。
</dd>
</dl>
</section>