<%= stylesheet_link_tag "desktop/web/static_pages", :media => "all" %>

<section class ="TradeLaw">
	<table class="TradeLaw__list">
		<tr>
			<td>サービス名</td>
			<td>あしたの城島</td>
		</tr>
		<tr>
			<td>サイト責任者</td>
			<td>宗　司</td>
		</tr>

		<tr>
			<td>所在地・連絡先</td>
			<td>住所：〒8300211 福岡県久留米市城島町楢津649-1 ディアス楢津B-101<br>電話番号：090-1087-6047<br>メールアドレス：jojimasakemedia@gmail.com<br></td>
		</tr>

		<tr>
			<td>販売価格</td>
			<td>商品ごとに表示してあります。</td>
		</tr>

		<tr>
			<td>ホームページURL</td>
			<td>http://jo-jima.com/ec</td>
		</tr>

		<tr>
			<td>商品代金以外の料金の説明</td>
			<td>送料、振込手数料、代引き手数料、クレジット分割手数料</td>
		</tr>

		<tr>
			<td>お支払い方法</td>
			<td>クレジットカード・銀行振込・代引き</td>
		</tr>

		<tr>
			<td>引き渡時期</td>
			<td>ご注文確認後（前払いの場合はご入金確認後）、〇営業日以内の発送を原則としています。万が一、入荷待ちになったなった場合は、お時間をいただく場合もございますのでご了承ください。</td>
		</tr>

		<tr>
			<td>注文方法</td>
			<td></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
		</tr>



	</table>
</section>