<%= stylesheet_link_tag "desktop/web/terms", :media => "all" %>

<section class ="TradeLaw">
	<h1>特定商取引法に関する表示</h1>
	<dl class="TradeLaw__list">
			<dt>サービス名</dt>
			<dd>あしたの城島</dd>
			<dt>サイト責任者</dt>
			<dd>宗　司</dd>
			<dt>所在地・連絡先</dt>
			<dd>住所：〒8300211 福岡県久留米市城島町楢津649-1 ディアス楢津B-101<br>電話番号：090-1087-6047<br>メールアドレス：jojimasakemedia@gmail.com<br></dd>
			<dt>販売価格</dt>
			<dd>商品ごとに表示してあります。</dd>
			<dt>ホームページURL</dt>
			<dd>http://jo-jima.com/ec</dd>
			<dt>商品代金以外の料金の説明</dt>
			<dd>送料、振込手数料、代引き手数料、クレジット分割手数料</dd>
			<dt>お支払い方法</dt>
			<dd>クレジットカードのみ。銀行振り込み、代金引換等、その他のお支払い方法につきましては、ただいま調整中です。
	ご迷惑おかけしますが、しばらくお時間頂戴いたします。</dd>
			<dt>引き渡時期</dt>
			<dd>ご注文確認後（前払いの場合はご入金確認後）、7営業日以内の発送を原則としています。万が一、入荷待ちになったなった場合は、お時間をいただく場合もございますのでご了承ください。</dd>
			<dt>注文方法</dt>
			<dd>Webサイト上よりお申し込み(24時間受付)。</dd>
			<dt>返品・交換について</dt>
			<dd>返品は原則としてお受けしておりません。予めご了承ください。お客様ご都合でのキャンセルの場合は、送料と商品損害金をご請求させていただきますので、ご注意下さい。</dd>
			<dt>販売数量</dt>
			<dd>特別に表示の無い場合は制限はございません。 </dd>
			<dt>プライバシーに関する定義</dt>
			<dd><%= link_to "プライバシーに関する定義", privacy_path %>をご覧下さい。</dd>
	</dl>
</section>