<%= stylesheet_link_tag "api", :media => "all" %>

<div id="purchased_notice">
	<h1>購入ありがとうございました!</h1>
	<p>配送状況はご自身の<%= link_to "ダッシュボード", "#" %>から確認できます。</p>
	<p>引き続き買い物をお続けになる場合は<%= link_to "こちら", "#" %></p>
</div>