/* responsive setting
----------------------------------------------------*/
//break points
$sp-max-width: 640px;
$pc-min-width: 641px;



/* color setting
----------------------------------------------------*/
$color-gray: #eeeeee;
$color-sakura: #79b6C8;
$theme-color: #79b6C8;
$font-white: #FFFFFF;

// Variables
// --------------------------


