<%= stylesheet_link_tag "desktop/web/shared", :media => "all" %>

<footer>
	<div class="Footer">
		<div class="Footer__category">
			<p>あしたの城島</p>
			<li>福岡県久留米市城島町</li>
			<li>0942-33-3864</li>
			<li>jojimasakemedia@gmail.com</li>
			<li>facebookページ</li>
		</div>

		<div class="Footer__category">
			<p>インフォメーション</p>
			<li>お問い合わせ</li>
			<li>お支払い方法について</li>
			<li>配送方法・送料について</li>
			<li>特定商取引法に基づく表記</li>
		</div>

		<div class="Footer__category">
			<p>リンク</p>
			<li>SAKEVIVA</li>
			<li>HOGE</li>
			<li>HOGE</li>
			<li>HOGE</li>
		</div>
	</footer>
<div>