<%= stylesheet_link_tag "desktop/web/shared", :media => "all" %>

<footer>
	<div class="Footer">
		<div class="Footer__category">
			<p>あしたの城島</p>
			<li>福岡県久留米市城島町</li>
			<li>0942-33-3864</li>
			<li>jojimasakemedia@gmail.com</li>
			<li>facebookページ</li>
		</div>

		<div class="Footer__category">
			<p>インフォメーション</p>
			<li>お問い合わせ</li>
			<li>お支払い方法について</li>
			<li>配送方法・送料について</li>
			<li><%= link_to_unless_current "特定商取引法に基づく表記", trade_law_path %></li>
		</div>

		<div class="Footer__category">
			<p>リンク</p>
			<li><%= link_to "日本酒メディア", "//jo-jima.com/ec/sake/blog/" %></li>
			<li><%= link_to "地域おこしブログ", "//jo-jima.com/blog/" %></li>
			<li>準備中</li>
		</div>
	</footer>
<div>