@import "desktop/web/parts/buttons";

.AddressForm {
	width: 600px;
	margin: 80px auto;

	h1 {
		font-size: 24px;
		text-align: left;
		margin: 20px auto;
		height: 40px;
		line-height: 40px;
		border-bottom: 1px solid $color-gray;
	}

	&__table {

		tr {
			display: block;
			height: 50px;
			margin-top: 40px;
		}

		th {
			font-size: 16px;
			display: block;
		}

		td {
			display: block;
			width: 180px;

			select#address_prefecture_id {
				color: white;
				font-size: 16px;
				height: 30px;
				width: 200px;
				background-color: $theme-color;
				margin: 10px auto 30px;
				border-style: none;
			}
		}

		td input {
			font-size: 20px;
			width: 400px;
		}

		.AddressForm__table--postalcode input{
			width: 180px;
		}

	}

	&__action {

	text-align: center;

	input {
		background-color: transparent;
		appearance: none;
		border: none;
		text-align: center;
		padding: 0;
		height:35px;
		width:150px;
		margin-top: 20px;
		color: $font-white;
		background-color: #404040;
		}
	}

}

#address_all {
	background-color: $color-gray;
	width: 650px;
	height: 100%;
	margin: 100px auto;

	h1 {
		font-size: 24px;
		text-align: center;
	}

	.each_address {
		background-color: white;
		width: 430px;
		height: 100%;
		margin: 10px auto;
		border: $color-sakura 0.5px solid;
		font-size: 18px;
	}

	ul.address_detail {

		padding-left: 60px;

		li.radio_btn {
			color: $color-sakura;
		}

		li {
			list-style-type: none;

			input {
				height: 21px;
				width: 21px;
			}
		}
	}

	ul.address_edit {

		padding: 0;
		text-align: center;

		li {
			list-style-type: none;
			display: inline-block;
			padding: 0 10px;
			height:32px;

			a {
				background-color: $color-sakura;
				color: white;
				display: block;
				height: 32px;
				line-height: 32px;
				width: 50px;
				text-align: center;
			}

			input {
			background-color: $color-sakura;
			font-size: 18px;
			color: white;
			width: 50px;
			height: 32px;
			border-style:none;
			padding:0;
			}

			form.button_to{
				height:32px;
			}
		}
	}
}






