
.category_visual {
	margin: 0;
	text-align: center;
	height: 350px;
}

.category_description {

	h1 {
		font-size: 22px;
		text-align: center;
	}

	p {
		width: 700px;
		margin: auto;
	}
}

.category_item {

	ul.category_item_list {
		text-align: center;
		margin: 40px auto;
		padding: 0;
		width: 745px;
		height: 100%;

		li {
			list-style-type: none;
			display: inline-block;
			margin: 5px;
			background-color: rgb(251,218,222);

			h1 {
				font-size: 16px;
				margin: 0 auto;
				height: 25px;
			}

			p {
				margin: 5px 0;
			}
		}
	}
}

.Instruction {

	h1 {
		font-size: 22px;
		margin: 120px auto 20px;
		text-align: center;
	}

	&__image {
		margin: 0 auto 30px;
		text-align: center;
	}

	&__description {
		width: 700px;
		margin: auto;
	}
}

.CategoryProduct {
	width: 1000px;
	margin: 50px auto;

	&__main {
		width: 1000px;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 20px auto;
		padding: 0;
	}

	&__item {
		text-align: center;
		margin: 30px;

		&:nth-child(even) {
			margin-left: 0;
		}

		&:nth-child(2) {
			margin-right: 0;
		}

		&--title {
			margin: auto;
		}
	}
}

