
.category_visual {
	margin: 0;
	text-align: center;
	height: 350px;
}

.category_description {

	h1 {
		font-size: 22px;
		text-align: center;
	}

	p {
		width: 700px;
		margin: auto;
	}
}

.category_item {

	ul.category_item_list {
		text-align: center;
		margin: 40px auto;
		padding: 0;
		width: 745px;
		height: 100%;

		li {
			list-style-type: none;
			display: inline-block;
			margin: 5px;
			background-color: rgb(251,218,222);

			h1 {
				font-size: 16px;
				margin: 0 auto;
				height: 25px;
			}

			p {
				margin: 5px 0;
			}
		}
	}
}

.Instruction {
		@include mq-sp {
			width: 100%;
		}

	h1 {
		font-size: 22px;
		margin: 120px auto 20px;
		text-align: center;
		color: $theme-color;

		@include mq-sp {
			margin: 20px auto;
			font-size: 24px;
		}
	}

	&__image {
		.pc { display: block !important;}
		.sp { display: none !important;}
		margin: 0 20px 30px;
		text-align: center;

		img.pc {
			margin: auto;
		}

		@include mq-sp {
			.pc { display: none !important; }
			.sp { display: block !important; }
			margin: 0 20px 15px;

			img.sp {
				width: 100%;
			}
		}
	}

	&__description {
		width: 850px;
		margin: auto;
		font-size: 18px;

		@include mq-sp {
			width: 100%;
			padding: 10px;
			font-size: 14px;
		}
	}
}

.ProductFilter {
	margin: 50px auto 15px;

	@include mq-sp {
		width: 100%;
	}

		form {
			display: flex;
			width: 700px;
			margin: auto;

			@include mq-sp {
				width: 100%;
				flex-direction: column;
			}

			.ProductFilter__category {
				margin: 20px;
				text-align: center;

				@include mq-sp {
					width: 100%;
					margin: 10px 0;
				}
			}

			&__name {
				font-size: 18px;
				margin: 5px 10px;
			}

			select {
				width: 160px;
				padding-left: 10px;
				outline:none;
		    text-indent: 0.01px;
		    text-overflow: '';
		    background: none transparent;
		    vertical-align: middle;
		    font-size: inherit;
		    color: inherit;
		    -webkit-appearance: button;
		    -moz-appearance: button;
		    appearance: button;

		    @include mq-sp {
		    	height: 30px;
		    	width: 200px;
		    }
			}

			select option {
				background-color: white;
				color: $theme-color;
			}

			select::-ms-expand {
			  display: none;
			}

			select:-moz-focusring {
			  color: transparent;
			  text-shadow: 0 0 0 #828c9a;
			}

			.select-wrap {
	    	position:relative;
			}

			.select-wrap:before {
		    z-index: 1;
		    position: absolute;
		    width: 280px;
		    top: 0;
		    font-family: 'FontAwesome';
		    content: '\f107';
				line-height: 23px;
		    color: #7F878C;
		    pointer-events: none;

		    @include mq-sp {
		    	line-height: 30px;
		    	width: 350px;
		    }
			}

			.filter_button {

				@include mq-sp {
					height: 40px;
					margin: 20px;
					text-align: center;
				}

				input {
					background-color: white;
					border: 1px solid $theme-color;
					color: $theme-color;
					width: 100px;
					margin: 42px 20px 10px;
					border-radius: 8px;

					@include mq-sp {
						text-align: center;
						width: 200px;
						height: 40px;
						line-height: 40px;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
}


.CategoryProduct {
	width: 1000px;
	margin: 25px auto;

		@include mq-sp{
			width: 100%;
		}

	&__main {
		width: 1000px;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: auto;
		padding: 0;

		@include mq-sp{
			flex-direction: column;
			width: 100%;
		}

		p {
			font-size: 18px;
			color: $theme-color;

			@include mq-sp {
				font-size: 14px;
				margin: auto;
			}
		}
	}

	&__item {
		text-align: center;
		width: 220px;
		margin: 15px 0 0 15px;

		@include mq-sp {
			width: 100%;
			border-bottom: 1px solid gray;
			margin: 15px;
			padding-bottom: 15px;
		}

		@include mq-pc {
			&:nth-child(even) {
				margin-left: 0;
			}

			&:nth-child(2) {
				margin-right: 0;
			}
		}

		&--photo {
			.pc { display: block !important; }
			.sp { display: none !important; }

			@include mq-sp {
				.pc { display: none !important; }
				.sp { display: block !important; }
				width: 30%;
				float: left;
			}
		}

		&--title {
			margin: auto;
			height: 40px;

			@include mq-sp {
				width: 70%;
				float: right;
				line-height: 25px;
				margin: 10px 0;
			}
		}

		&--price {
			@include mq-sp {
				width: 70%;
				float: right;
				line-height: 30px;
				margin: 0;
			}
		}

		i.fa {
			@include mq-pc {
				display: none;
			}

			position: absolute;
			margin: 10% 60%;
			font-size: 24px;
		}
	}
}

