@import "desktop/web/parts/form";

#form_notext {

	background-color: white;
	border: solid 1px $theme-color;
	border-radius: 5px;
	margin-top: 150px;
	color: black;

	@include mq-sp {
		width: 90%;
		height: 80%;
		margin-top: 70px;
	}

	h2 {
		font-size: 24px;

		@include mq-sp {
			font-size: 20px;
			padding: 20px;
		}
	}

	input {
		height: 30px;
		width: 90%;
		font-size: 120%;
		border-radius: 5px;
		border-style: solid 0.1px gray;
	}
}

form#new_user.new_user {
	@include mq-sp {
		margin: 15px auto;
	}
}

.long_btn_dummy {
	background-color: #2F56A6;
}

.long_btn_dummy:hover{
	a {
		color: #2F56A6;
	}
	border-color: #2F56A6;
}

.btn-facebook{
	color: #fff;
	background-color: #4c66a4;
	z-index: 10;
	margin: 0 auto 20px;
}

.ConfirmationInstruction {
	margin: 200px auto 50px;
	height: 250px;
	width: 489px;
	font-size: 18px;
	color: $theme-color;

	@include mq-sp {
		width: 90%;
		font-size: 14px;
	}
}
