/* Start CSS for Inquiry */

.InquiryIntro {
	width: 800px;
	margin: 150px auto 0;
	text-align: center;

	@include mq-sp {
		width: 95%;
		margin: 50px auto 0;
	}

	h1 {
		font-size: 24px;
	}

	p {
		margin: 30px;
	}
}

.Inquiry {
	margin: 50px auto 50px;
	width: 800px;
	border: 1px solid $theme-color;

	@include mq-sp {
		width: 95%;
	}

	h2 {
		font-size: 24px;
		margin-top: 30px;
		font-weight: bold;
		text-align: center;
	}


	&__list {

		padding: 20px;

		@include mq-sp {
			padding: 20px 20px 20px 40px;
		}

		dt {
			font-weight: bold;
			padding: 20px 15px;
			display: block;
			width: 25%;
			float: left;
			clear: left;

			@include mq-sp {
				width: 95%;
				padding: 5px 15px;
			}
		}

		dd {
			color: gray;
			display: block;
			padding: 20px 15px;
			width: 75%;
			float: left;

			@include mq-sp {
				width: 95%;
				padding: 5px 15px 25px 15px;
			}
		}
	}

	&__list:after{
	content: ".";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
	}

	h3 {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
	}

	p {
		padding: 30px;
	}
}

	h4 {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
	}

	.InquiryForm {
		margin: 30px auto 50px;
		border: 1px solid $theme-color;
		width: 800px;

		@include mq-sp {
			width: 95%;
		}

		&__item {
			margin: 30px auto 0;

			@include mq-sp {
				display: block;
				width: 100%;
			}

			th,td {
				padding: 15px;
				font-size: 18px;

				@include mq-sp {
					font-size: 13px;
				}
			}
		}

		.submit_btn{
			text-align: center;

			input.middle_btn_dummy {
				border: none;
				color: white;
				margin: 20px auto;
			}

			input.middle_btn_dummy:hover{
				color: $theme-color;
				border: 1px solid $theme-color;
		}
	}
}


.InquirySent {
	margin: 150px auto 50px;
	width: 800px;
	border: 1px solid $theme-color;
	text-align: center;

	h1 {
		font-size: 24px;
	}
}
/* End CSS for Inquiry */

