/*ユーザーの注文履歴ページのスタイルここから*/
#orders_list {
	width: 810px;
	height: 100%;
	margin: 100px auto;
	background-color: white;
	border: solid 1px $theme-color;

	div.order_items {
		width: 580px;
		float: left;
		border-bottom: solid 1px $theme-color;
		border-right: solid 1px $theme-color;

		section.order_pic {
			float: left;
			margin: 7px;
			height: 210px;
		}

		section.details_list {
			float: right;
			width: 320px;
			padding: 0 20px;
			margin: 40px 0;
		}

		ul {
			padding: 0;
		}

		ul li {
			list-style-type: none;
		}

		p.repurchase_button {
			text-align: center;
			border: solid 1px $theme-color;
			width: 90px;
			margin: 20px 0;
			border-radius: 5px;

			a {
				color: $theme-color;
			}
		}

		p.repurchase_button:hover {
			text-align: center;
			background-color: $theme-color;
			a {
				color: white;
			}
		}

	}

	div.delivery_status {
		width: 219px;
		height: 225px;	
		float: right;
		border-bottom: solid 1px $theme-color;

		p {
			background-color: $theme-color;
			color: white;
			text-align: center;
			height: 35px;
			line-height: 35px;
			width: 100px;
			margin: 96px auto;
			border-radius: 8px;
		}
	}
}

#orders_list:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

div.order_items:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
/*ユーザーの注文履歴ページのスタイルここまで*/

