
/*ユーザーの注文履歴ページのスタイルここから*/
#orders_list {
	width: 810px;
	height: 100%;
	margin: 100px auto;
	background-color: white;
	border: solid 1px $theme-color;

		@include mq-sp {
			width: 95%;
			margin: 50px auto;
		}

	div.order_items {
		width: 580px;
		float: left;
		border-bottom: solid 1px $theme-color;
		border-right: solid 1px $theme-color;

		@include mq-sp {
			width: 100%;
			border-right: none;
		}

		.order_pic {
			float: left;
			margin: 7px;
			height: 210px;

			img.pc { display: block !important ;}
			img.sp { display: none !important ;}

			@include mq-sp {
				width: 40%;
				height: 95%;
				margin: 50px 3%;
		  	img.pc { display: none !important ;}
			  img.sp { display: block !important ;}

			  img {
			  	width: 100%;
			  }

			}
		}

		.details_list {
			float: right;
			width: 320px;
			padding: 0 20px;
			margin: 30px 0 20px ;

			@include mq-sp {
				width: 47%;
				padding: 0;
			}
		}

		ul {
			padding: 0;

			@include mq-sp {
				width: 90%;
				margin: 0;
			}
		}

		ul li {
			list-style-type: none;
			margin: 6px auto;

			@include mq-sp {
				margin: 10px;
			}
		}

		.delivery_statusSp {
			width: 100px;
			p {
				background-color: $theme-color;
				color: white;
				text-align: center;
				height: 35px;
				line-height: 35px;
				width: 100px;
				margin: 20px auto;
				border-radius: 8px;
			}

				@include mq-pc {
				display: none !important;
			}
		}

		p.repurchase_button {
			text-align: center;
			border: solid 1px $theme-color;
			width: 100px;
			margin: 20px 0;
			border-radius: 5px;
			height: 31px;
	    line-height: 31px;
	    border-radius: 8px;

			a {
				color: $theme-color;
			}
		}

		p.repurchase_button:hover {
			text-align: center;
			background-color: $theme-color;
			a {
				color: white;
			}
		}

	}

	.delivery_statusPc {
		width: 219px;
		height: 252px;
		float: right;
		border-bottom: solid 1px $theme-color;

		@include mq-sp {
			 display: none !important;
		}

		p {
			background-color: $theme-color;
			color: white;
			text-align: center;
			height: 35px;
			line-height: 35px;
			width: 100px;
			margin: 96px auto;
			border-radius: 8px;
		}
	}
}

#orders_list:after {
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.order_items:after {
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.no_order {
	margin: 100px;
	height: 250px;
	line-height: 250px;
	text-align: center;
	font-size: 18px;
	color: $theme-color;

	@include mq-sp {
		width: 90%;
		line-height: 30px;
		height: 150px;
		margin: 80px auto;
	}
}


/*ユーザーの注文履歴ページのスタイルここまで*/

