/*Confirmaiton Pageのスタイルここから*/
	#confirmation_all {
		margin: 200px auto 30px auto;

		@include mq-sp {
			width: 95%;
			margin: 50px auto 30px auto;
		}

		.Cart{
			width: 900px;
			margin: auto;

			@include mq-sp {
				width: 100%;
			}


			&__item{
				padding: 0;
				font-size: 18px;
				border-bottom: 1px solid $theme-color;
				margin: 0 auto;

				@include mq-sp {
					height: 225px;
					width: 100%;
					margin: 10px auto;
				}

				li {
					width: 180px;
					margin: 10px 20px 10px 50px;

					@include mq-sp {
						margin: 0 15px;
						width: 40%;
					}
				}

			&--image{
				.pc { display: block !important; }
				.sp { display: none !important; }
				width: 150px;

				@include mq-sp {
					margin: 30px 15px;
				 	.pc { display: none !important; }
					.sp { display: block !important; }
				}
			}

				&--name {
					@include mq-sp {
						float: right;
					}
				}

				&--quantity {
					border: none;
					width: 30px;

					@include mq-sp {
						float: right;
						height: 40px;
						line-height: 40px;
					}
				}

				&--subtotal {
					@include mq-sp {
						float: right;
						height: 30px;
						line-height: 30px;
					}
				}
			}
		}

		.Address {
			width: 900px;
			margin: 50px auto;
			border-top: solid 1px $theme-color;

			@include mq-sp {
				width: 100%;
				text-align: center;
			}


			&__item{
				width:420px;
				margin: 40px auto;
				font-size: 18px;

				td th {
					margin: 10px auto;
					padding: 50px auto;
				}
			}
		}

		.total_shipping_fee {
			width: 900px;
			font-size: 20px;
			padding-top: 20px;
			margin: 20px auto 10px;
			text-align: right;
			border-top: solid 1px $theme-color;

			@include mq-sp {
				width: 100%;
			}

		}

		.total_price{
			width: 900px;
			font-size: 20px;
			margin: 10px auto 50px;
			text-align: right;

			@include mq-sp {
				width: 100%;
			}

		}
	}

.payjp-button {
	position: relative;
	text-align: center;
	border: 1px solid $theme-color;
	width: 250px;
	height: 50px;
	line-height: 50px;
	margin: auto;
}

.payjp-button:hover {
		background-color: $theme-color;
		color: white;
}


#payjp_checkout_box {

	opacity:0;
	width: 250px;
	height: 50px;
	margin: auto auto 100px auto;
	position: absolute;
	top: 0px;

	input[type=button] {
		width: 225px;
		height: 40px;
	}
}

/*Confirmaiton Pageのスタイルここまで*/

/*Thank you Pageのスタイルここから*/

.PurchasedNotice {
	width: 800px;
	margin: 150px auto;
	border-color: 1px solid $theme-color;
	text-align: center;

	@include mq-sp {
		width: 95%;
		margin: 50px auto;
	}

	h1 {
		font-size: 26px;
		padding: 30px;

		@include mq-sp {
			padding: 15px;
		}
	}

	&--photo {
		margin: auto;
		width: 600px;
		img.pc { display: block !important; }
		img.sp { display: none !important; }

		@include mq-sp {
			width: 90%;
			img.pc { display: none !important; }
			img.sp { display: block !important; }

			img {
				width: 100%;
			}
		}
	}

	p {
		text-align: center;
		margin-top: 20px;

		a {
			color: $theme-color;
			font-size: 20px;

			@include mq-sp {
				font-size: 16px;
			}
		}

		a: hover {
			text-decoration: underline;
		}
	}
}

/*Thank you Pageのスタイルここまで*/
