/*Confirmaiton Pageのスタイルここから*/
	#confirmation_all {
		margin: 200px auto 30px auto;

		.Cart{
			width: 900px;
			margin: auto;

			&__item{
				padding: 0;

				li {
					width: 180px;
					margin: 0 20px;
				}

				&--quantity {
					border: none;
				}
			}
		}

		.Address {
			width: 900px;
			margin: 50px auto;
			border-top: solid 1px $theme-color;

			&__item{
				width:420px;
				margin: 40px auto;
				font-size: 18px;

				td th {
					margin: 10px auto;
					padding: 50px auto;
				}	
			}
		}

		.total_shipping_fee {
			width: 900px;
			font-size: 20px;
			padding-top: 20px;
			margin: 20px auto 10px;
			text-align: right;
			border-top: solid 1px $theme-color;	
		}

		.total_price{
			width: 900px;
			font-size: 20px;
			margin: 10px auto 50px;
			text-align: right;
		}
	}

.payjp-button {
	position: relative;
	text-align: center;
	border: 1px solid $theme-color;
	width: 250px;
	height: 50px;
	line-height: 50px;
	margin: auto;
}

.payjp-button:hover {
		background-color: $theme-color;
		color: white;
}


#payjp_checkout_box {
	
	opacity:0;
	width: 250px;
	height: 50px;
	margin: auto auto 100px auto;
	position: absolute;
	top: 0px;

	input[type=button] {
		width: 225px;
		height: 40px;
	}
}

/*Confirmaiton Pageのスタイルここまで*/

/*Thank you Pageのスタイルここから*/

#purchased_notice {
	width: 800px;
	height: 100%;
	margin: 150px auto;
	border-color: 1px solid $theme-color;
	text-align: center;

	h1 {
		font-size: 26px;
		padding: 30px;
	}

	p {
		text-align: center;
		margin-top: 20px;

		a {
			color: $theme-color;
		}

		a: hover {
			text-decoration: underline;
		}
	}
}

/*Thank you Pageのスタイルここまで*/
