/*かえさんデザインのCSSここから*/

#breadcrumb {
	width: 782px;
	padding: 8px 0;
	margin: 60px auto 0;
	border-bottom: solid 1px #CCCCCC;
}

.ItemDetails {
	width: 880px;
	margin: 20px auto 40px;
	display: flex;

	&__sub {
		margin: 30px 50px 50px;

		&--smallphoto {
			display: flex;
			list-style: none;
			padding: 0;

			li {
				margin:10px;
				&:nth-child(-n+3) {
					margin-left: 0;
				}
			}
		}
	}

	&__main {
		width: 370px;
		margin: 20px 50px 50px 0;

		p {
			margin: 10px auto 0;
		}

		h1{
			font-size: 24px;
			margin: 10px auto 20px;
		}

		&--price {
			height: 50px;
			margin: 0;
			line-height: 50px;
			font-size: 18px;
		}

		&--size {

			select {
			-webkit-appearance:none;
			width: 360px;
			height: 30px;
			}
		}

		&--option {
			
			select {
			-webkit-appearance:none;
			width: 360px;
			height: 30px;
			}
		}

		&--quantity {
			
			select {
			-webkit-appearance:none;
			width: 100px;
			height: 30px;
			padding-left: 10px;
			}
		}

		.middle_btn {
			text-align: left;
			width: 200px;
		}

	}

	&__review {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 11px;

			li {
				margin: 12px;
				&:nth-child(-n+3) {
					margin-left: 0;
				}

				&:nth-child(-n+2) {
					padding-right: 10px;
					border-right: 1px solid #CCCCCC;
				}
			}
		}
}

.RecommendedItems {
	width: 1080px;
	margin: auto;

	h2 {
		width: 930px;
		text-align: left;
		font-size: 18px;
		margin: auto;
	}

	&__head {
		display: block;
		text-align: center;
		padding: 20px 0 10px;
		margin: 0;
	}

	&__text {
		text-align: center;
	}

	&__main {
		list-style: none;
		display: flex;
		justify-content: space-around;
		margin: 20px 200px;
		padding: 0;
	}

	&__item {
		text-align: center;
		margin: 0 30px 30px;

		&:nth-child(even) {
			margin-left: 0;
		}

		&:nth-child(2) {
			margin-right: 0;
		}

		&--title {
			margin: 10px auto 5px;
		}

		&--price {
			text-align: right;
			font-size: 18px;
		}
	}
}

.Cart {

	width: 1200px;
	margin: auto;

	p {
		margin: 50px 0 10px 80px;
		font-size: 20px;
	}

	&__list {
		display: flex;
		list-style-type: none;
		height: 40px;
		padding-left: 250px;

		&--details {
			margin-left: 150px;		
		}

		&--price {
			width: 40px;
			margin-left: 240px;		
		}

		&--quantity {
			width: 100px;
			margin-left: 20px;		
			text-align: center;
		}

		&--unitprice {
			margin-left: 60px;		
		}
	}

	&__item {
		display: flex;
		list-style-type: none;
		padding-left: 85px;
		line-height: 85px;

		&--name {
			margin-left: 40px;
		}

		&--description {
			margin-left: 130px;
		}

		&--price {
			margin-left: 185px;
		}

		&--quantity {
			width: 70px;
			height: 40px;
			display: flex;
			margin: 25px 0 0 60px;
			border: 1px solid $theme-color;
		}

		&--number {
				width: 40px;
				line-height: 40px;
				text-align: center;
			}

		form.button_to{
				height: 16px;
				width: 20px;
				margin: 0;
				background-color: transparent;
		}

		button {
			background-color: transparent;
			height: 1px;
			padding: 0px 6px;
			border: 0;

				i {
					position: absolute;
					margin-top: -43px;
				}
		}

		&--subtotal {
			text-align: center;
			width: 100px;
			margin-left: 25px;
		}

		input {
			background-color: transparent;
			border: 0;
			width: 24px;
			font-size: 22px;
			font-weight: bold;
			color: $theme-color;
		}
	}
}

.CartAction {
	display: flex;
	width: 300px;
	margin: 50px 0 10px 925px;

		&__continue {
			height: 40px;
			line-height: 40px;
			width: 140px;
			margin-left: 15px;
			text-align: center;
			background-color: $theme-color;
				
				a {
					color: white;
				}	
		}

		&__emptycart {
			height: 40px;
			width: 140px;
			background-color: #404040;
			text-align: center;

				input {
					line-height: 40px;
					background-color: transparent;
					border: 0;
					color: white;
				}
		}
}

.CheckOut {
	display: flex;
	margin: 80px auto;
	font-size: 16px;

		&__shipping {
			background-color: green;
			width: 250px;
			margin-left: 705px;
		}

		&__calculation {
			background-color: pink;
			width: 250px;
			margin-left: 20px;

				tr {
					height: 35px;

				}

				tr td {
					text-align: right;
				}

				tr td:first-child{
					text-align: left;
					width: 180px;
				}

		}
}
/*かえさんデザインのCSSここまで*/



/*商品ページで統一すべきスタイルここから*/
.product_form {
	height: 300px;
	background-color: yellow;
}

/*商品ページで統一すべきスタイルここから*/


/*adminのproductフォームに関するスタイルここから*/
#products_list {
	background-color: $color-gray;
	width: 1000px;
	margin: 50px auto;
}

.product_list {

	width: 800px;

	tr: nth-child(odd) td {
	}

	tr: nth-child(even) td {
		background-color: #FBDADE;
	}

	 th {
		width: 100px;
	}

	th.description {
		width: 500px;
		}

	 td {
		width: 70px;
		text-align: center;
	}
}

/*adminのproductフォームに関するスタイルここまで*/

/*adminのproducts/newページに関するスタイルここから*/
#product_registration {
	width: 800px;
	height: 100%;
	margin: auto;
	background-color: $color-gray;
}

table.attr {
	width: 800px;

	th {
		width: 205px;
	}
}

.file input {
	display: none;
}

#product_registration {
	#individual_product {
		height: 100%;
		width: 800px;
		margin: 50px auto;

		label {
			font-size: 20px;
		}

		input#product_name {
			width: 200px;
			height: 30px;
			margin: 20px auto;
		}
		input#product_price {
			width: 200px;
			height: 30px;
			margin: 10px auto;
		}
		input#product_description {
			width: 500px;
			height: 150px;
			margin: 10px auto;
		}
}

	#products_story {
		h1 {
			font-size: 22px;
		}

		h2 {
			font-size: 22px;
		}

		input#product_overview_one {
			font-size: 20px;
		}
		input#product_overview_two {
			width: 600px;
			height: 250px;
			font-size: 20px;
		}
		input#product_story_title_one {
			font-size: 20px;
		}
		input#product_story_title_two {
			font-size: 20px;
		}
	}
}

/*adminのproducts/newページに関するスタイルここまで*/

/*adminのproducts/newと/editに共通するスタイルここから*/
select#product_theme_tag_id {
			background-color: $color-sakura;
			color: white;
			font-size: 16px;
			width: 160px;
			height: 30px;
			margin: 10px 15px;
		}

		select#product_type_id {
			background-color: $color-sakura;
			color: white;
			font-size: 16px;
			width: 70px;
			height: 30px;
			margin: 10px 15px;
		}

		select#product_price_id {
			background-color: $color-sakura;
			color: white;
			font-size: 16px;
			width: 120px;
			height: 30px;
			margin: 10px 15px;
		}

.tag_section {
		margin-left: 7%;
		margin-top: 30px;
}

/*adminのproducts/newと/editに共通するスタイルここまで*/

/*adminのproduct/showページに関するスタイルここから*/

#individual_product {
	height: 100%;
	width: 800px;
	margin: auto;
}

#products_list {
	width: 800px;
	text-align: center;
	background-color: $color-gray;

	h1 {
		font-size: 22px;
		margin: 5px;
	}

	h2 {
		font-size: 22px;
		margin: 5px;
	}

	h3 {
		font-size: 22px;
		margin: 5px;
	}

	h4 {
		font-size: 22px;
		margin: 5px;
	}

	p {
		margin: 0;
	}
}

.products_list th.description {
	width: 600px;
}

.products_list td.description {
	width: 600px;
}

#products_story {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	background-color: $color-gray;
}


	p.price{
		margin: 10px 0;
	}

	p.quantity_select {
		text-align: center;
		margin: 10px 0 0 0;

		select#quantity{
			-webkit-appearance:none;
			height: 30px;
			width: 50px;
			background-color: white;
			color: $color-sakura;
			border-color: $color-sakura;
			font-size:15px;
			margin: auto;
			text-align: -webkit-center;
			padding:0 18px;
		}

	}

	p.purchase_btn{
		text-align: center;
		margin: 0;
		height:50px;

		input {
			background-color: $color-sakura;
			font-size: 18px;
			color: white;
			width: 200px;
			height: 40px;
			border-radius: 8px;
			margin: 15px auto;
			border-style:none;
		}

		input:hover {
			background-color: white;
			color: $color-sakura;
			border:solid 1px $color-sakura;
		}
	}


/*adminのproduct/showページに関するスタイルここまで*/

/*adminのproduct/editページに関するスタイルここから*/
#product_edit_form {
	width: 800px;
	height: 100%;
	margin: auto;
	background-color: $color-gray;
}

.thumbnail img {
	width: 600px;
	height: 480px;
}
/*adminのproduct/editページに関するスタイルここまで*/

/*products/idページに関するスタイルここから*/
#product_details {
	width: 1000px;
	height: 100%;
	background-color: $color-gray;
	margin: 50px auto;
	display:flex;

	img {
		margin: 15px;
	}
}

.product_info {
	width: 400px;
	height: 370px;
	margin: 15px 15px 10px 0;

	ul.theme_tag {
	margin: 0;
	padding: 0;
	text-align: center;

	 li {
		display: inline-block;
		list-style-type: none;
		margin: 0 10px;
		padding: 0 10px;
		border: 1px $color-sakura solid;
		border-radius: 5px;
		color: $color-sakura;
		}

	 li: hover {
	 	background-color: white;
	 	}
	}

	h1 {
		text-align: center;
		margin: 10px 0;
		font-size: 24px;
	}

	p.description {
		margin: 5px 0;
		height: 150px;
	}

	p.price {
		text-align: center;
	}

}

#product_story {
	height: 100%;
	text-align: center;
	width: 1000px;
	margin: 50px auto 20px auto;
	background-color: $color-gray;

	h1 {
		padding: 15px;
		font-size: 24px;
	}

	p {
		width: 700px;
		margin: 35px auto;
	}
}

/*products/idページに関するスタイルここまで*/




