@import "desktop/web/parts/buttons";

/* Start CSS for design by Kae */

.breadcrumbs {
	width: 782px;
	padding: 8px 0;
	margin: 100px auto 0;
	border-bottom: solid 1px #CCCCCC;

	@include mq-sp {
		width: 100%;
		margin: 10px;
	}

	a {
		color: $theme-color;
	}
}

.ItemDetails {
	width: 880px;
	margin: 20px auto 40px;
	display: flex;

	@include mq-sp {
		width: 100%;
		margin: 0;
		flex-direction: column;
	}

	&__sub {
		margin: 30px 50px 50px;

		@include mq-sp {
			margin: 10px 30px;
		}

		&--mainphoto {
			img.pc { display: block !important; }
			img.sp { display: none !important; }

			@include mq-sp {
				width: 100%;
				height: 320px;
				img.pc { display: none !important; }
				img.sp { display: block !important; }

					img {
						width: 100%;
						height: 100%;
					}
			}
		}

		&--smallphoto {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding: 0;

			li {
				margin:10px;
			}
		}
	}

	&__main {
		width: 370px;
		margin: 20px 50px 50px 0;

		@include mq-sp {
			width: 90%;
			margin: 10px auto;
		}

		p {
			margin: 10px auto 0;
		}

		h1{
			font-size: 24px;
			margin: 10px auto 20px;
		}

		form {
			@include mq-sp {
				width: 80%;
				margin: auto;
			}
		}

		&--price {
			height: 50px;
			margin: 0;
			line-height: 50px;
			font-size: 18px;

			@include mq-sp {
				height: 35px;
				line-height: 35px;
				text-align: right;
				margin: 0;
			}
		}

		&--size {

			select {
			-webkit-appearance:none;
			width: 360px;
			height: 30px;
			}
		}

		&--option {

			select {
				-webkit-appearance:none;
				width: 360px;
				height: 30px;
				padding-left: 10px;

				@include mq-sp {
					width: 100%;
				}
			}
		}

		&--quantity {

			select {
			-webkit-appearance:none;
			width: 100px;
			height: 30px;
			padding-left: 10px;
			}
		}

		.middle_btn {
			text-align: left;
			width: 200px;

			@include mq-sp {
				width: 100%;
				margin: auto;

				input {
					width: 100%;
				}
			}
		}

	}

	&__review {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 11px;

			li {
				margin: 12px;
				&:nth-child(-n+3) {
					margin-left: 0;
				}

				&:nth-child(-n+2) {
					padding-right: 10px;
					border-right: 1px solid #CCCCCC;
				}
			}
		}
}

.RecommendedItems {
	width: 1080px;
	margin: auto;

	@include mq-sp {
		width: 100%;
	}

	h2 {
		width: 930px;
		text-align: left;
		font-size: 18px;
		margin: auto;

		@include mq-sp {
			width: 100%;
			font-size: 20px;
			text-align: center;
		}
	}

	&__head {
		display: block;
		text-align: center;
		padding: 20px 0 10px;
		margin: 0;
	}

	&__text {
		text-align: center;
	}

	&__main {
		list-style: none;
		display: flex;
		justify-content: space-around;
		margin: 20px 200px;
		padding: 0;

		@include mq-sp {
			width: 100%;
			margin: 20px 0;
			flex-direction: column;
		}
	}

	&__item {
		text-align: center;
		margin: 0 30px 30px;

		@include mq-sp {
			border-bottom: 1px solid gray;
			margin: 0 15px;
			padding-bottom: 15px;
		}

		@include mq-pc {
			&:nth-child(even) {
				margin-left: 0;
			}
			&:nth-child(2) {
				margin-right: 0;
			}
		}

		&--photo {
			.pc { display: block !important;}
			.sp { display: none !important;}

			@include mq-sp {
				width: 30%;
				float: left;
				margin: 15px 0 0 0;
				.pc { display: none !important;}
				.sp { display: block !important;}
			}
		}

		&--title {
			margin: 10px auto 5px;
			height: 40px;

			@include mq-sp {
				width: 70%;
				float: right;
				line-height: 40px;
				margin: 10px 0;
			}
		}

		&--price {
			text-align: right;
			font-size: 14px;

				@include mq-sp {
				width: 70%;
				float: right;
				line-height: 30px;
				margin: 0;
				text-align: center;
			}
		}

		i.fa {
			position: absolute;
			margin: 10% 60%;
			font-size: 24px;

			@include mq-pc {
				display: none;
			}
		}

	}
}

.Cart {

	width: 1200px;
	margin: 150px auto 50px;

	@include mq-sp {
		width: 100%;
		margin: 20px auto;
	}

	p {
		width: 1000px;
		margin: 50px 0 50px 40px;
		font-size: 18px;
		border-bottom: 1px solid $color-gray;
		color: $theme-color;

		@include mq-sp {
			width: 95%;
			margin: 10px auto 10px 20px;
		}
	}

	&__list {
		display: flex;
		list-style-type: none;
		height: 40px;
		padding-left: 10px;

		@include mq-sp {
			display: none;
		}

		&--name {
			margin-left: 200px;
		}

		&--details {
			margin-left: 200px;
		}

		&--price {
			width: 40px;
			margin-left: 215px;
		}

		&--quantity {
			width: 100px;
			margin-left: 26px;
			text-align: center;
		}

		&--unitprice {
			margin-left: 28px;
		}
	}

	&__item {
		display: flex;
		list-style-type: none;
		padding-left: 40px;
		line-height: 25px;

		@include mq-sp {
			display: block;
			width: 95%;
			height: 300px;
			margin: 20px;
			padding: 0;
			display: block;
			border-bottom: 1px solid gray;
		}

		&--image {
			.pc { display: block !important;}
			.sp { display: none !important;}

			@include mq-sp {
				display: block;
				.pc { display: none !important;}
				.sp { display: block !important;}
				width: 25%;
				float: left;
			}
		}

		&--name {
			display: block;
			flex: 0 0 150px;
			margin-left: 25px;

			@include mq-sp {
				display: block;
				width: 50%;
				line-height: 1.5;
				margin-right: 24px;
				float: right;
			}
		}

		&--description {
			margin-left: 25px;
			flex: 0 0 320px;

			@include mq-sp {
				width: 56%;
				height: 130px;
				line-height: 20px;
				margin: 8px auto 10px auto;
				margin-right: 12px;
				float: right;
				font-size: 13px;
			}
		}

		&--price {
			flex: 0 0 60px;
			margin-left: 50px;

			@include mq-sp {
				width: 110px;
				float: left;
				margin: 20px auto 10px 40%;
			}
		}

		&--quantity {
			width: 70px;
			height: 40px;
			display: flex;
			margin: 0 0 0 40px;
			border: 1px solid $theme-color;

			@include mq-sp {
				float: left;
				margin-left: 40%;
				border-radius: 5px;
			}

		}

		&--updown {
			i.fa.fa-chevron-down {
				margin-top: -15px;
			}

			i.fa.fa-chevron-up {
				margin-top: -15px;
			}

		}

		&--number {
			width: 40px;
			line-height: 40px;
			text-align: center;

			@include mq-sp {
				float: right;
			}
		}

		&--subtotal_price {
			flex: 0 0 60px;
			margin-left: 35px;


			@include mq-sp {
				display: none;
			}

		}

		form.button_to{
				height: 16px;
				width: 20px;
				margin: 0;
				background-color: transparent;
				float: right;
				margin-right: 30%;
		}

		button {
			background-color: transparent;
			height: 1px;
			padding: 0px 6px;
			border: 0;

				i {
					position: absolute;
					margin-top: -43px;
				}
		}

		input {
			background-color: transparent;
			border: 0;
			width: 24px;
			font-size: 15px;
			font-weight: normal;
			color: $theme-color;
			margin-left: 30px;
			border: 1px solid $theme-color;
			width: 60px;
			.pc { display: block !important;}
			.sp { display: none !important;}

			@include mq-sp {
				.pc { display: none !important;}
				.sp { display: block !important;}
				height: 40px;
				margin: 0;
				padding: 0;
			}
		}

		&--subtotal_price {
			text-align: center;
			width: 120px;
			margin-left: 30px;
		}
	}
}

.CartAction {
	display: flex;
	width: 300px;
	margin: 50px 0 10px 900px;

	@include mq-sp {
		margin: 50px auto 10px;
	}

		&__continue {
			height: 40px;
			line-height: 40px;
			width: 140px;
			margin-left: 15px;
			text-align: center;
			background-color: $theme-color;

				a {
					color: white;
				}
		}

		&__emptycart {
			height: 40px;
			width: 140px;
			background-color: #404040;
			text-align: center;

				input {
					line-height: 40px;
					background-color: transparent;
					border: 0;
					color: white;
				}
		}
}

.CheckOut {
	display: flex;
	margin: 50px auto;
	font-size: 16px;

	@include mq-sp {
		width: 100%;
		flex-direction: column;
	}

		&__shipping {
			width: 250px;
			margin-left: 695px;

			@include mq-sp {
				margin: auto;
				width: 90%;
				text-align: center;
			}

			form {
				margin: 0 50px;
			}

			p {
				width:150px;
				margin-bottom: 25px;
				border-bottom: 1px solid $color-gray;

				@include mq-sp {
					margin: 25px auto;
					font-size: 20px;
				}
			}

			&--btn input {
				background-color: transparent;
				appearance: none;
				border: none;
				text-align: center;
				padding: 0;
				height:35px;
				width:150px;
				margin-top: 20px;
				color: $font-white;
				background-color: #404040;
			}

			&--nobtn {
				background-color: transparent;
				appearance: none;
				border: none;
				text-align: center;
				padding: 0;
				height:35px;
				line-height: 35px;
				width:150px;
				margin-top: 20px;
				background-color: $color-gray;
				color: #C0C0C0;
			}

		}

		select{
			background-color: transparent;
			appearance: none;
			text-align: left;
			border:3px solid $color-gray;
			width: 150px;
			height: 30px;
			line-height: 30px;

			@include mq-sp {
				width: 250px;
				height: 40px;
			}
		}

		&__calculation {
			width: 250px;

			@include mq-sp {
				margin: 50px auto;
				width: 60%;
			}

				p {
					width:50px;
					margin-bottom: 25px;
					border-bottom: 1px solid $color-gray;
					font-weight: bold;
				}

				tr {
					height: 35px;
					width:250px;
					border-bottom: 1px solid $color-gray;

				}

				tr td {
					text-align: right;
				}

				tr td:first-child{
					text-align: left;
					width: 160px;
				}

				&--btn{
					height: 40px;
					line-height: 40px;
					width: 250px;
					margin: 30px 0 auto ;
					text-align: center;
					background-color: $theme-color;

					a {
						color: white;
					}
				}

				&--nobtn {
					height: 40px;
					line-height: 40px;
					width: 250px;
					margin: 30px 0 auto ;
					text-align: center;
					background-color: $color-gray;
					color: #C0C0C0;
				}


		}
}
/* End CSS for design by Kae */


.product_form {
	height: 300px;
}

/* Start CSS of admin product form */
#products_list {
	background-color: white;
	width: 1200px;
	margin: 150px auto;

	th {
		background-color: $theme-color;
		padding: 5px;
		border: solid 1px white;
		color: white;
		text-align: center;
	}

	td {
		border: solid 1px $theme-color;
		text-align: center;
		padding: 15px;
	}

	td.name {
		width: 140px;
	}

	td.price {
		width: 100px;
	}

	td.edit {
		width: 140px;
	}

	input {
		background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
	}

}

.product_details {
	width: 800px;

	tr: nth-child(odd) td {
	}

	tr: nth-child(even) td {
		background-color: #FBDADE;
	}

	 th {
		width: 100px;
	}

	th.description {
		width: 500px;
		}

	 td {
		width: 70px;
		text-align: center;
	}
}

/* End CSS of admin product form */

/* Start CSS of admin/products/new*/
#product_registration {
	margin: 150px auto;
	width: 800px;
	border: solid 1px $theme-color;

	h1 {
		font-size: 24px;
		text-align: center;
	}

	#individual_item {
		width: 800px;
		margin: 30px auto;

		label {
			font-size: 20px;
		}

		input#product_name {
			width: 200px;
			height: 30px;
			margin: 20px auto;
		}
		input#product_price {
			width: 200px;
			height: 30px;
			margin: 10px auto;
		}
		input#product_description {
			width: 500px;
			height: 150px;
			margin: 10px auto;
		}
	}
}

table.attr {
	width: 800px;

	th {
		width: 205px;
	}
}

.file input {
	display: none;
}


/* End CSS of admin/products/new*/

/* Start common CSS of admin products/new and edit*/
select#product_theme_tag_id {
			background-color: $color-sakura;
			color: white;
			font-size: 16px;
			width: 160px;
			height: 30px;
			margin: 10px 15px;
		}

		select#product_type_id {
			background-color: $color-sakura;
			color: white;
			font-size: 16px;
			width: 90px;
			height: 30px;
			margin: 10px 15px;
		}

		select#product_price_id {
			background-color: $color-sakura;
			color: white;
			font-size: 16px;
			width: 120px;
			height: 30px;
			margin: 10px 15px;
		}

.tag_section {
		margin-left: 7%;
		margin-top: 30px;
}

/* End common CSS of admin products/new and edit*/

/* Start CSS of admin products/show*/

.ProductDetails {
	width: 800px;
	border: solid 1px $theme-color;
	background-color: white;
	text-align: center;
	margin: 120px auto;
	list-style-type: none;

			dt {
				font-weight: bold;
				padding: 20px 15px;
				display: block;
				width: 25%;
				float: left;
				clear: left;
			}

			dd {
				display: block;
				padding: 20px 15px;
				width: 75%;
				float: right;
				clear: right;
			}

			&__description {
				height: 120px;
			}

			&__mainimage {
				height: 340px;
				line-height: 340px;
			}

			&__subimage {
				height: 340px;
				line-height: 340px;
			}


		dl:after{
		content: ".";
		display: block;
		height: 0;
		font-size:0;
		clear: both;
		visibility:hidden;
		}
}


/* End CSS of admin products/show*/

/* Start CSS of admin products/edit */

#product_edit_form {
	width: 800px;
	height: 100%;
	margin: auto;
	background-color: $color-gray;
}

.thumbnail img {
	width: 600px;
	height: 480px;
}
/* Start CSS of admin products/edit */


/* Start CSS of products/id */

#product_details {
	width: 1000px;
	height: 100%;
	background-color: $color-gray;
	margin: 50px auto;
	display:flex;

	img {
		margin: 15px;
	}
}

.product_info {
	width: 400px;
	height: 370px;
	margin: 15px 15px 10px 0;

	ul.theme_tag {
	margin: 0;
	padding: 0;
	text-align: center;

	 li {
		display: inline-block;
		list-style-type: none;
		margin: 0 10px;
		padding: 0 10px;
		border: 1px $color-sakura solid;
		border-radius: 5px;
		color: $color-sakura;
		}

	 li: hover {
	 	background-color: white;
	 	}
	}

	h1 {
		text-align: center;
		margin: 10px 0;
		font-size: 24px;
	}

	p.description {
		margin: 5px 0;
		height: 150px;
	}

	p.price {
		text-align: center;
	}

}

#product_story {
	height: 100%;
	text-align: center;
	width: 1000px;
	margin: 50px auto 20px auto;
	background-color: $color-gray;

	h1 {
		padding: 15px;
		font-size: 24px;
	}

	p {
		width: 700px;
		margin: 35px auto;
	}
}

/* End CSS of products/id */



