/*ここからトップページのデザイン*/

#jojima-top {
	width: 1080px;
	margin: auto;
}

.Intro{
	margin: 50px 15px 210px;

	&__main {
		background-image: url("http://res.cloudinary.com/dmfclza05/image/upload/v1498882879/top/top_main.jpg");
		background-size: 100% 100%;
		width: 100%;
		height: 600px;

		&--logo {
			text-align: center;
			padding-top: 110px;
		}
	}

	&__sub {
		height: 100%;
		margin: 0 160px;
		padding: 310px 0 0;
		
		.Category {	
			&__menu {
				list-style: none;
				display: flex;
				justify-content: space-around;
				padding: 0;
				margin:10px;
				background-color: white;				
			}

			&__item {
				border: 1px solid #72C1C8;
				height: 210px;
				width: 250px;
				margin: 15px 15px;

				&:nth-child(even) {
					margin-left: 0;
				}

				&:nth-child(2) {
					margin-right: 0;
				}
			}

			&__picture {
				margin: 5px;
			}

			&__title {
				text-align: center;
				margin: 10px auto 5px;
			}

			&__subtitle {
				text-align: center;
				
			}
		}
	}

	&__news {
		text-align: center;
		border: solid 1px #72C1C8;
		height: 80px;
		margin: 200px 200px 80px;
		line-height: 80px;
	}

}


.NewArrival {

	width: 1080px;
	margin: auto;

	&__head {
		display: block;
		text-align: center;
		padding: 20px 0 10px;
		margin: 0;
	}

	&__text {
		text-align: center;
	}

	&__main {
		list-style: none;
		display: flex;
		justify-content: space-around;
		margin: 20px 200px;
		padding: 0;
	}

	&__item {
		text-align: center;
		margin: 30px;

		&:nth-child(even) {
			margin-left: 0;
		}

		&:nth-child(2) {
			margin-right: 0;
		}

		&--title {
			margin: auto;
		}
	}

}


.Ranking {

	width: 1080px;
	margin: auto;

	&__head {
		display: block;
		text-align: center;
		padding: 20px 0 10px;
		margin: 0;
	}

	&__text {
		text-align: center;
	}


	&__all {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		width: 1080px;
		padding: 0;
	}

	&__item {
		display: flex;
		margin: 15px;
		width: 280px;
		background-color: #FAFAFA;

	}

	&__main {
		display: flex;
		flex-direction: column;

		&--title {
			margin: 5px 10px;
		}

		&--price {
			margin: 0 10px;
		}
	}


}


.JojimaMap {
	margin: 100px 30px 50px;
	
	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}


.Interview {
	width: 1080px;
	margin: auto;

	&__head {
		display: block;
		text-align: center;
		padding: 20px 0 10px;
		margin: 0;
	}

	&__text {
		text-align: center;
	}

	&__section {
		display: flex;
		width: 1100px;
		margin: auto;
	}

	&__item {
		display: flex;
		margin: 15px;
		height: 300px;
		width: 350px;
	}


	&__sub {

		&--photo {
			margin: 20px 0 0 10px;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		margin: 0 15px;

		&--id {
			margin: 26px 10px;
			text-align: center;
			font-size: 26px;
		}

		&--companyname {
			text-align: center;
			font-size: 20px;
		}

		&--name {
			text-align: center;
			font-size: 20px;
		}

		&--summary {
			margin: 10px 10px;
			font-size: 12px;
		}

		&--btn {
			text-align: center;
			margin-top: 20px;
		}
		

	}
	
}


.AboutUs{
	width: 100%;
	font-size: 20px;
	color: $font-white;

	&__first {
		
		text-align: center;
		height: 900px;
		padding-top: 450px;
		margin-top: 70px;
		background-image: image-url("pc/about_us/about_us_1.jpg");
		background-size: cover;

			span{
				margin-top: 20px;
			}
	}

	&__second {
		height: 900px;
		padding: 250px 0 0 50px;
		text-align: left;
		background-image: image-url("pc/about_us/about_us_2.jpg");
		background-size: cover;
	}

	&__third {
		height: 900px;
		padding: 200px 0 0 50px;
		text-align: left;
		background-image: image-url("pc/about_us/about_us_3.jpg");
		background-size: cover;
	}

	&__fourth {
		height: 900px;
		width: 100%;
		padding: 300px 50px 0 0;
		text-align: right;
		background-image: image-url("pc/about_us/about_us_4.jpg");
		background-size: cover;
	}
}


/*ここまでトップページのデザイン*/

.InterviewPanel{

	width: 680px;
	margin: 100px auto auto;
	line-height: 2;

	&__photo {
		width: 680px;
		height: 450px;
	}

	&__question {
		color: #999999;
	}

	h1 {
		font-size: 28px;
		margin: 12px auto 20px;
		text-align: center;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 28px;
	}

	h5 {
		font-size: 28px;
	}

	p {
		margin: 13px;
	}
}






