/*ここからトップページのデザイン*/

#jojima-top {
	width: 1080px;
	margin: -20px auto 0;

	@include mq-sp {
		width: 100%;
	}
}

.Intro{
	margin: 70px 0 210px;
	width: 1080px;

	@include mq-sp {
		width: 100%;
		margin: 0px;
	}

 	@include mq-pc {
		.nav-collapse{ display: none !important; }
	}

	&__main {

		#wrapper.SpMenu__wrapper {
			border-style: none;
		}

			background-image: url("//res.cloudinary.com/dmfclza05/image/upload/v1498882879/top/top_main.jpg");
			background-size: 100% 100%;
			width: 100%;
			height: 600px;
			text-align: center;
			padding-top: 110px;

			@include mq-sp {
				background-image: url("//res.cloudinary.com/dmfclza05/image/upload/v1498882879/top/top_main.jpg");
				width: 100%;
				height: 300px;
				margin-top: -20px;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 0 0 40% 25%;
			}

			img {
				@include mq-sp {
					margin-top: -100px !important;
					z-index: 1;
				}
			}

			&--cart {
				display: flex;
				list-style-type: none;
				float: right;
				margin: -65px 45px 0 0;
			}

  }

	&__sub {
		height: 100%;
		margin: -90px 160px;
		padding: 0;

		@include mq-sp {
			width: 100%;
			margin: 10px 0;
		}

		.Category {
				&__menu {
					list-style: none;
					display: flex;
					justify-content: space-around;
					padding: 0;
					margin: 10px auto;
					background-color: white;

						@include mq-sp {
						width: 100%;
						list-style: none;
						display: flex;
						flex-direction: column;

				}
		  }

			&__item {
				border: 1px solid #72C1C8;
				height: 220px;
				width: 100%;
				margin: 15px;

					@include mq-sp {
						height: 90px;
						width: 90%;
						margin: 10px auto;
						border: none;
						border-radius: 10px;
						background-image: linear-gradient(-90deg, #E0A500, #FFFFFF);
						opacity: 0.9;

					}

				&:nth-child(even) {
					margin-left: 0;

					@include mq-sp {
						margin: 10px auto;
					}
				}

				&:nth-child(2) {
					margin-right: 0;

   				@include mq-sp {
						margin: 10px auto;
					}
				}
			}

			&__photo {
				margin: 5px;
				.pc { display: block !important; }
				.sp { display: none !important; }

				@include mq-sp {
					.pc { display: none !important; }
					.sp { display: block !important; }
					width: 30%;
					float: left;
					margin: 0;
				}

				img.sp {
					@include mq-sp {
						border-radius: 10px;
					}
				}
			}

			&__text {
				text-align: center;
				float: right;
				width: 100%;
				text-align: center;
				margin: 0 auto;

				@include mq-sp {
					width: 70%;
					margin: 10px auto;
				}

				a {
					@include mq-sp {
						color: white;
					}
				}

				&--title {
					margin: 10px auto 5px;
				}
			}
		}
 }
 	&__news {
		text-align: center;
		border: solid 1px #72C1C8;
		height: 80px;
		margin: 200px 200px 80px;
		padding: 15px 20px;
		line-height: 25px;

		@include mq-sp {
			width: 90%;
			height: 100%;
			margin: 20px auto;
			border-radius: 10px;
		}
	}
}

.NewArrival {

	width: 100%;
	margin: auto;

	i.fa {//PCの際の表示は消す。
		@include mq-pc {
			display: none;
		}
	}

	&__head {
		display: block;
		text-align: center;
		padding: 20px 0 10px;
		margin: 0;

		@include mq-sp{
			font-size: 22px;
		}
	}

	&__text {
		text-align: center;
		font-size: 16px;
	}

	&__main {
		list-style: none;
		display: flex;
		justify-content: space-around;
		margin: 20px 200px;
		padding: 0;


		@include mq-sp {
			width: 100%;
			margin: 20px 0;
			flex-direction: column;
		}
	}

	&__item {
		text-align: center;
		margin: 30px;

		@include mq-sp {
			border-bottom: 1px solid gray;
			margin: 0 15px;
			padding-bottom: 15px;
		}

		&:nth-child(even) {
			margin-left: 0;

			@include mq-sp {
				margin: 15px;
			}
	}

		&:nth-child(2) {
			margin-right: 0;

			@include mq-sp{
				margin: 15px;
			}
		}

		&--photo {
			.pc { display: block !important;}
			.sp {	display: none !important;}

			@include mq-sp {
				width: 30%;
				float: left;
				.pc { display: none !important;}
				.sp { display: block !important;}
			}
		}

		&--title {
			margin: auto 10px;
			height: 40px;

			@include mq-sp {
				width: 70%;
				float: right;
				line-height: 40px;
				margin: 10px 0;
			}
		}

		.fa {
			position: absolute;
			margin: -8% 25%;
			font-size: 24px;
		}
	}
}


.Popular {

	width: 100%;
	margin: auto;

	&__head {
		font-size: 22px;
		text-align: center;
		padding: 20px 0 10px;
		margin: 0;
	}

	&__text {
		text-align: center;
		font-size: 16px;
	}

	&__all_pc { display: flex !important;}
	&__all_sp {	display: none !important;}
	//注目の商品を16こと4こでhtmlで分けて、PC用に16このほうを表示する。


	&__all_pc{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		width: 980px;
		margin: auto;
		padding: 0;
	}

	&__item {
		display: flex;
		margin: 15px;
		width: 280px;
		background-color: #FAFAFA;
	}

	&__main {
		display: flex;
		flex-direction: column;

		&--title {
			margin: 5px 10px;
			height: 40px;
		}

		&--price {
			margin: 0 10px;
		}
	}

		@include mq-sp {
			&__all_pc { display: none !important;}
			&__all_sp {	display: block !important;}
			//注目の商品を16こと4こでhtmlで分けて、SP用に4このほうを表示する。
			width: 100%;
			margin: 20px 0;
			flex-direction: column;

			&__head {
				display: block;
				text-align: center;
				padding: 20px 0 10px;
				margin: 0;
				}

				&__text {
				width : 100%;
				margin: 5px;
				text-align: center;
				font-size: 15px;
			}

			&__all_sp{
				padding: 0;
			}

			&__item {
				margin: 0 15px;
				padding: 15px 0;
				width: 93%;
				border-bottom: 1px solid gray;
				background-color: white;
			}

			&__main {
				width: 70%;
				float: right;

				&--title {
				text-align: center;
				line-height: 40px;
				margin: 10px 0;
				}

				&--price {
				text-align: center;
				margin: 0 10px;
				}
			}
			.fa {
				position: absolute;
				margin: 7% -7%;
				font-size: 24px;
			}
	  }

}


.JojimaMap {
	margin: 100px 30px 50px;
	.pc { display: block !important;}
	.sp { display: none !important;}

	@include mq-sp {
		margin: 30px 10px;
		.pc { display: none !important;}
		.sp { display: block !important;}
	}

	img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

section {

	.InterviewPC { display: block !important;}
	.InterviewSP { display: none !important;}
	//PC表示のときのインタビューCSS↓

	.InterviewPC {
		width: 100%;
		margin: auto;

		&__head {
			display: block;
			text-align: center;
			padding: 20px 0 10px;
			margin: 0;

			@include mq-sp {
				font-size: 20px;
			}
		}

		&__text {
			text-align: center;
			font-size: 16px;

			@include mq-sp {
				text-align: left;
				font-size: 14px;
				margin: 5px 30px;
			}
		}

		&__section {
			display: flex;
			width: 1050px;
			margin: auto;
		}

		&__item {
			display: flex;
			margin: 15px;
			height: 300px;
			width: 370px;
		}


		&__sub {

			&--photo {
				margin: 20px 0 0 10px;
			}
		}

		&__main {
			width: 110px;
			display: flex;
			flex-direction: column;
			margin: 0 15px;

			&--id {
				margin: 26px 10px;
				text-align: center;
				font-size: 26px;
			}

			&--companyname {
				text-align: center;
				font-size: 20px;
			}

			&--name {
				text-align: center;
				font-size: 18px;
			}

			&--summary {
				margin: 10px 10px;
				font-size: 12px;
			}

			&--btn {
				text-align: center;
				margin-top: 20px;

					a {
						color: $theme-color;
					}
			}
		}
	}

	@include mq-sp {
	.InterviewPC { display: none !important;}
	.InterviewSP { display: block !important;}

	.InterviewSP {

		&__photo {
			list-style-type: none;
			width: 100%;
			margin: 10px 0;
			padding: 0;

			.sp-image {
				width: 100%;
				padding: 5px 10px;
			}
			}
	}
	//SP表示のときのインタビューCSS
	}
}

.AboutUs{
	width: 100%;
	font-size: 22px;
	color: $font-white;

	&__first {
		text-align: center;
		height: 700px;
		margin-top: 70px;
		background-image: image-url("pc/about_us/about_us_1.jpg");
		background-size: cover;

			p {
				margin: 0 auto;
				padding-top: 250px;

			}

			span{
				margin-top: 20px;
			}
	}

	&__second {
		height: 700px;
		text-align: left;
		background-image: image-url("pc/about_us/about_us_2.jpg");
		background-size: cover;

		p {
			margin: 0 auto;
			padding: 150px 0 0 50px;
		}
	}

	&__third {
		height: 700px;
		text-align: left;
		background-image: image-url("pc/about_us/about_us_3.jpg");
		background-size: cover;

		p {
			margin: 0 auto;
			padding: 150px 0 0 50px;
		}
	}

	&__fourth {
		height: 700px;
		text-align: right;
		background-image: image-url("pc/about_us/about_us_4.jpg");
		background-size: cover;

		p {
			margin: 0 auto;
			padding: 250px 50px 0 0;
		}
	}
}

footer {
	margin: 0;
}


/*ここまでトップページのデザイン*/

.InterviewPanel{

	width: 680px;
	margin: 100px auto auto;
	line-height: 2;

	@include mq-sp {
		width: 95%;
		margin: 50px auto;
	}

	&__photo {
		width: 680px;
		height: 450px;
		.pc { display: block !important;}
		.sp { display: none !important;}

		@include mq-sp {
			width: 95%;
			height: 250px;
			margin: 10px auto;
			.pc { display: none !important;}
			.sp { display: block !important;}

			img {
				width: 100%;
				height: 250px;
			}
		}
	}

	&__question {
		color: #999999;
	}

	h1 {
		font-size: 28px;
		margin: 12px auto 20px;
		text-align: center;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 28px;
	}

	h5 {
		font-size: 28px;
	}

	p {
		margin: 13px;
	}
}







