@import "base/variable";
@import "desktop/web/components/form";

#form_notext {
	input {
		height: 30px;
		width: 380px;
		font-size: 120%;
		border-radius: 5px;
		border-style: solid 0.1px gray;
	}
}