@import "base/variable";
@import "base/mixins";
 //スマホ用のメニューバーは切り替える。

/*サイドメニューバーのスタイルここから*/
ul.side_bar_theme_list {
	padding-left:30px;

	li a {
		color:black;
	}
	a:hover {
		color:$theme-color;
	}

}

ul.side_bar_category_list {
	padding-left:30px;

	li a {
		color:black;
	}
	a:hover {
		color:$theme-color;
	}
}

ul.side_bar_price_list {
	padding-left:30px;

	li a {
		color:black;
	}
	a:hover {
		color:$theme-color;
	}
}
/*サイドメニューバーのスタイルここまで*/

/*ヘッダーのメニューここから*/

.Header {

  &__account.PcMenu { display: block !important;}
  &__account.SpMenu { display: none !important;}

  &__account {
    height: 30px;

    &--menu{
      display: flex;
      list-style-type: none;
      margin: 0;
      height: 30px;
      padding-left: 60%;

      @include mq-sp {
        padding: 0;
      }

      li {
        margin: auto 8px;
        line-height: 30px;
        color: $theme-color;
      }

      li:first-child {
        margin-right: 0;
      }
    }

    &--cart{
      display: flex;
      list-style-type: none;
      padding-left: 0;

      @include mq-sp {
        float: right;
        margin: 5px 7% 0 0;
      }
        a {
          color: black;
        }
    }
  }

  &__main {
    background-color: #72C1C8;
    height: 70px;
    display: flex;
    justify-content:flex-end;

      @include mq-sp {
        width:100%
      }

     &--logo:first-child {
      line-height: 70px;
      margin-right: auto;
      margin-left: 15%;
     }

    &--menu {
     display: flex;
     list-style-type: none;
     height: 70px;
     width: 900px;
     margin-left: 200px;

      li.nav2 {
          width: 110px;
          text-align: center;
        }

      li.nav3 {
          width: 100px;
          text-align: center;
        }

      li{
        margin: 0 10px;
        width: 80px;
        line-height: 70px;
        color: #FFFFFF;
        text-align: center;

          a {
            color: white;
          }
      }
    }
  }

    @include mq-sp {//スマホメニューのスタイルここから
       &__account.PcMenu { display: none !important;}
       &__account.SpMenu { display: block !important;}

       &__account.SpMenu {
          background-color: $theme-color;
          height: 40px;
          text-align: center;

          img {
            position: absolute;
            margin: 2px -8%;
          }

          a.nav-toggle {
            display: block;
            position: absolute;
            margin: 0 0 0 30px;
          }

            a.nav-toggle.active {
            display: block;
            position: absolute;
            margin: 150px 0 0 30px;
          }
       }
    }//スマホメニューのスタイルここまで

}

ul.Header__account--menu {
  width: 150px;
}

.menu {
  height:51px;
  padding:0px;
  font-size:18px;

}

.dropmenu {
  *zoom: 1;
  list-style-type: none;
  width: 200px;
  margin: 5px auto 30px;
  padding: 0;
  height:71px;
  line-height:71px;
  z-index: 9999;
  display:flex;
}

.dropmenu li {
  position: relative;
  width: 80%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li a {
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  background: #8a9b0f;
  color: $theme-color;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
.dropmenu li ul {
  list-style: none;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li {
  width: 100%;
}
.dropmenu li ul li a {
  padding: 13px 15px;
  border-top: 1px solid $color-gray;
  background: white;
  text-align: center;
}
.dropmenu li:hover > a {
  background: whtie;
}
.dropmenu li a:hover {
  background: $theme-color;
  color:white;
}

.dropmenu li ul li {
  overflow: hidden;
  height: 0;
  transition: .2s;
}
.dropmenu li:hover ul li {
  overflow: visible;
  height: 38px;
}

/*ヘッダーのメニューここまで*/

/*フッターのメニューここから*/

footer {
  height: 300px;
  background-color: #404040;
  margin-top: 50px;

    @include mq-sp {
      margin: 30px 0 0;
      height: 400px;
    }

}

.Footer {
  display: flex;
  height: 200px;
  width: 800px;
  margin: auto;

  a {
    color: white;
  }

  @include mq-sp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

    &__category {
      color: #FFFFFF;
      margin: 80px 20px;
      list-style-type: square;

        p {
          font-size: 16px;
        }

      @include mq-sp {
        width: 250px;
        margin: 20px auto 0 auto;
        text-align: left;
      }
    }
}

p.back_root {
  text-align: center;

  @include mq-pc {
    display: none;
  }

    a {
      color:$theme-color;
    }
}


/*フッターのメニューここまで*/