<section class="Error">
  <div class="Error__logo"><%= link_to image_tag("pc/top/logo.png", size:"80x45", alt: "logo image of sakeviva"), root_path %></div>

  <div class="Error__title">お探しのページを表示できません。</div>
  <p class="Error__text">申し訳ございませんが、お探しのページは見つかりませんでした。お探しのページは移動、または削除された可能性がございます。もしくはご指定のURLが間違っていたかもしれません。下記のリンクからご覧になりたいページを再度お探しください。</p>

  <div class="Error__link"><a href="https://shop.jo-jima.com/">https://shop.jo-jima.com</a></div>
</section>
