<section class="Error">
  <div class="Error__logo"><%= link_to image_tag("pc/top/logo.png", size:"80x45", alt: "logo image of sakeviva"), root_path %></div>

  <div class="Error__title">一般的なエラーが発生しました。</div>
  <p class="Error__text">大変申し訳ございません一般的なエラーが発生しました。エラーの詳細は管理者にメールで送信されましたので、対応完了までいましばらくお待ちください。</p>

  <div class="Error__link"><a href="https://shop.jo-jima.com/">https://shop.jo-jima.com</a></div>
</section>
