<%= stylesheet_link_tag "desktop/web/addresses", :media => "all" %>

<div class="AddressForm">
	<h1>配送先住所の変更</h1>
	<%= form_for @address do |form| %>
		<%= render "form", form: form %>
		<div class="AddressForm__action">
		<%= form.submit %>
		</div>
	<% end %>
</div>

