@charset "UTF-8";
/* color setting
----------------------------------------------------*/
/*サイドメニューバーのスタイルここから*/
/* line 4, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.side_bar_theme_list {
  padding-left: 30px;
}
/* line 7, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.side_bar_theme_list li a {
  color: black;
}
/* line 10, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.side_bar_theme_list a:hover {
  color: #79b6C8;
}

/* line 16, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.side_bar_category_list {
  padding-left: 30px;
}
/* line 19, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.side_bar_category_list li a {
  color: black;
}
/* line 22, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.side_bar_category_list a:hover {
  color: #79b6C8;
}

/* line 27, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.side_bar_price_list {
  padding-left: 30px;
}
/* line 30, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.side_bar_price_list li a {
  color: black;
}
/* line 33, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.side_bar_price_list a:hover {
  color: #79b6C8;
}

/*サイドメニューバーのスタイルここまで*/
/*ヘッダーのメニューここから*/
/* line 44, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__account {
  height: 30px;
}
/* line 47, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__account--menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  height: 30px;
  padding-left: 60%;
}
/* line 54, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__account--menu li {
  margin: auto 8px;
  line-height: 30px;
}
/* line 59, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__account--menu li:first-child {
  margin-right: 0;
}
/* line 64, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__account--cart {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
/* line 71, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__main {
  background-color: #72C1C8;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}
/* line 77, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__main--logo:first-child {
  line-height: 70px;
  margin-right: auto;
  margin-left: 15%;
}
/* line 83, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__main--menu {
  display: flex;
  list-style-type: none;
  height: 70px;
  width: 900px;
  margin-left: 200px;
}
/* line 90, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__main--menu li.nav2 {
  width: 110px;
  text-align: center;
}
/* line 95, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__main--menu li.nav3 {
  width: 100px;
  text-align: center;
}
/* line 100, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__main--menu li {
  margin: 0 10px;
  width: 80px;
  line-height: 70px;
  color: #FFFFFF;
  text-align: center;
}
/* line 107, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Header__main--menu li a {
  color: white;
}

/* line 116, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
ul.Header__account--menu {
  width: 150px;
}

/* line 120, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.menu {
  height: 51px;
  padding: 0px;
  font-size: 18px;
}

/* line 127, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu {
  *zoom: 1;
  list-style-type: none;
  width: 200px;
  margin: 5px auto 30px;
  padding: 0;
  height: 71px;
  line-height: 71px;
  z-index: 9999;
  display: flex;
}

/* line 139, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu li {
  position: relative;
  width: 80%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 146, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu li a {
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  background: #8a9b0f;
  color: #79b6C8;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}

/* line 156, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu li ul {
  list-style: none;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

/* line 163, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu li ul li {
  width: 100%;
}

/* line 166, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu li ul li a {
  padding: 13px 15px;
  border-top: 1px solid #eeeeee;
  background: white;
  text-align: center;
}

/* line 172, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu li:hover > a {
  background: whtie;
}

/* line 175, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu li a:hover {
  background: #79b6C8;
  color: white;
}

/* line 180, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu li ul li {
  overflow: hidden;
  height: 0;
  transition: .2s;
}

/* line 185, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.dropmenu li:hover ul li {
  overflow: visible;
  height: 38px;
}

/*ヘッダーのメニューここまで*/
/*フッターのメニューここから*/
/* line 194, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
footer {
  height: 300px;
  background-color: #404040;
  margin-top: 50px;
}

/* line 200, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Footer {
  display: flex;
  height: 200px;
  width: 800px;
  margin: auto;
}
/* line 206, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Footer a {
  color: white;
}
/* line 211, /Users/pyamap/Documents/original/sakeviva_original/app/assets/stylesheets/desktop/web/shared.scss */
.Footer__category {
  color: #FFFFFF;
  margin: 80px 20px;
}

/*フッターのメニューここまで*/
