$light-gray:#eeeeee;
$theme-color:#ff5a5f;

#purchased_notice{
	background-color:$light-gray;
	width:800px;
	height:100%;
	margin:150px auto;

	h1{
		font-size:26px;
		text-align:center;
		padding:30px;
	}

	p{
		text-align:center;

		a{
			color:$theme-color;
		}

		a:hover{
			text-decoration:underline;
		}
	}
}