$light-gray:#eeeeee;
$theme-color:#ff5a5f;

/*ユーザーの注文履歴ページのスタイルここから*/
#orders_list{
	width:800px;
	height:100%;
	margin:100px auto;
	background-color:$light-gray;

	div.order_items{
		width:580px;
		float:left;
		border-bottom:solid 1px white;
		border-right:solid 1px white;

		section.order_pic{
			float:left;
			margin:7px;
			height:210px;
		}

		section.details_list{
			float:right;
			width:320px;
			padding:0 20px;
			margin:10px 0;
		}

		ul{
			padding:0;
		}

		ul li{
			list-style-type:none;
		}

		p.repurchase_button{
			text-align:center;
			border:solid 1px $theme-color;
			color:$theme-color;
			width:90px;
			border-radius:5px;
		}

		p.repurchase_button:hover{
			text-align:center;
			background-color:$theme-color;
			a{
				color:white;
			}
		}

	}

	div.delivery_status{
		width:219px;
		height:231px;
		float:right;

		p{
			background-color:#00FF3B;
			color:white;
			text-align:center;
			height:35px;
			line-height:35px;
			width:100px;
			margin:96px auto;
			border-radius:8px;
		}
	}
}

#orders_list:after{
  content: "";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

div.order_items:after{
  content: "";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}
/*ユーザーの注文履歴ページのスタイルここまで*/

/*admin/ordersのスタイルここから*/
#orders_list{
	background-color:$light-gray;
	width:800px;
	margin:50px auto;

	h1{
		text-align:center;
		font-size:22px;
	}
}

.order_list{

	width:100%;

	tr:nth-child(odd) td{
	}

	tr:nth-child(even) td{
		background-color:#FBDADE;
	}

	 th{
		width:100px;
	}

	th.description{
		width:500px;
		}

	 td{
		width:70px;
		text-align:center;
	}
}
/*admin/ordersのスタイルここまで*/

/*admin/orders/idのスタイルここから*/
	#order_info{
		width:600px;
		height:100%;
		margin:100px auto;
		background-color:$light-gray;
		font-weight:bold;

		ul li{
			list-style-type:none;
		}

		section.order_id{
			border-bottom:dotted 1px $theme-color;
			padding:5px 10px;
		}

		section.product_info{
			padding:5px 10px;
		}

		section.user_info{
			padding:5px 10px;
		}

		section.delivery_status{
			border-top:solid 1px $theme-color;
			text-align:center;

			p{
			color:#00FF3B;
			letter-spacing:3px;
			text-align:center;
			}

			input{
			text-align:center;
			border:solid 1px $theme-color;
			background-color:$theme-color;
			width:100px;
			height:30px;
			font-size:12px;
			border-radius:5px;
			color:white;
			margin:10px auto 30px auto;
			}
		}
	}
/*admin/orders/idのスタイルここまで*/