// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*商品ページで統一すべきスタイルここから*/

$light-gray:#eeeeee;
$theme-color:#ff5a5f;

.product_form{
	height:300px;
	background-color:yellow;
}

p.btn{
		display:block;
		line-height:40px;
		width:120px;
		height:40px;
		background-color:$theme-color;
		margin:0 auto 20px auto;
		color:white;
		text-align:center;
		border-radius:5px;

		a{
			color:white;
			text-decoration:none;
		}
	}

/*商品ページで統一すべきスタイルここから*/


/*adminのproductフォームに関するスタイルここから*/
#products_list{
	background-color:$light-gray;
	width:1000px;
	margin:50px auto;
}

.product_list{

	width:800px;

	tr:nth-child(odd) td{
	}

	tr:nth-child(even) td{
		background-color:#FBDADE;
	}

	 th{
		width:100px;
	}

	th.description{
		width:500px;
		}

	 td{
		width:70px;
		text-align:center;
	}
}

/*adminのproductフォームに関するスタイルここまで*/

/*adminのproducts/newページに関するスタイルここから*/
#product_registration{
	width:800px;
	height:100%;
	margin:auto;
	background-color:$light-gray;
}

table.attr{
	width:800px;

	th{
		width:205px;
	}
}

.file input{
	display:none;
}

p.btn{
	margin:30px auto;
	font-size:16px;
}

p.btn input{
	line-height:40px;
	width:120px;
	height:40px;
	background-color:$theme-color;
	color:white;
	border-radius:5px;
	font-size:18px;
}

#product_registration{
	#individual_product{
		height:100%;
		width:800px;
		margin:50px auto;

		label{
			font-size:20px;
		}

		input#product_name{
			width:200px;
			height:30px;
			margin:20px auto;
		}
		input#product_price{
			width:200px;
			height:30px;
			margin:10px auto;
		}
		input#product_description{
			width:500px;
			height:150px;
			margin:10px auto;
		}
}

	#products_story{
		h1{
			font-size:22px;
		}

		h2{
			font-size:22px;
		}

		input#product_overview_one{
			font-size:20px;
		}
		input#product_overview_two{
			width:600px;
			height:250px;
			font-size:20px;
		}
		input#product_story_title_one{
			font-size:20px;
		}
		input#product_story_title_two{
			font-size:20px;
		}
	}
}

/*adminのproducts/newページに関するスタイルここまで*/

/*adminのproducts/newと/editに共通するスタイルここから*/
select#product_theme_tag_id{
			background-color:$theme-color;
			color:white;
			font-size:16px;
			width:160px;
			height:30px;
			margin:10px 15px;
		}

		select#product_type_id{
			background-color:$theme-color;
			color:white;
			font-size:16px;
			width:70px;
			height:30px;
			margin:10px 15px;
		}

		select#product_price_id{
			background-color:$theme-color;
			color:white;
			font-size:16px;
			width:120px;
			height:30px;
			margin:10px 15px;
		}

.tag_section{
		margin-left:7%;
		margin-top:30px;
}

/*adminのproducts/newと/editに共通するスタイルここまで*/

/*adminのproduct/showページに関するスタイルここから*/

#individual_product{
	height:100%;
	width:800px;
	margin:auto;
}

#products_list{
	width:800px;
	text-align:center;
	background-color:$light-gray;

	h1{
		font-size:22px;
		margin:5px;
	}

	h2{
		font-size:22px;
		margin:5px;
	}

	h3{
		font-size:22px;
		margin:5px;
	}

	h4{
		font-size:22px;
		margin:5px;
	}

	p{
		margin:0;
	}
}

.products_list th.description{
	width:600px;
}

.products_list td.description{
	width:600px;
}

#products_story{
	width:800px;
	margin:0 auto;
	text-align:center;
	background-color:$light-gray;
}


/*adminのproduct/showページに関するスタイルここまで*/

/*adminのproduct/editページに関するスタイルここから*/
#product_edit_form{
	width:800px;
	height:100%;
	margin:auto;
	background-color:$light-gray;
}

.thumbnail img{
	width:600px;
	height:480px;
}
/*adminのproduct/editページに関するスタイルここまで*/

/*products/idページに関するスタイルここから*/
#product_details{
	width:1000px;
	height:100%;
	background-color:$light-gray;
	margin:50px auto;

	img{
		margin:15px;
	}
}

#product_details:after{
  content: "";
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

.product_img{
	float:left;
}


.product_info{
	width:400px;
	height:370px;
	margin:15px 15px 10px 0;
	float:right;

	ul.theme_tag{
	margin:0;
	padding:0;
	text-align:center;

	 li{
		display:inline-block;
		list-style-type:none;
		margin:0 10px;
		padding:0 10px;
		border:1px $theme-color solid;
		border-radius:5px;
		color:$theme-color;
		}

	 li:hover{
	 	background-color:white;
	 	}
	}

	h1{
		text-align:center;
		margin:10px 0;
		font-size:24px;
	}

	p.description{
		margin:5px 0;
		height:150px;
	}

	p.price{
		text-align:center;
	}

}

#product_story{
	height:100%;
	text-align:center;
	width:1000px;
	margin:50px auto 20px auto;
	background-color:$light-gray;

	h1{
		padding:15px;
		font-size:24px;
	}

	p{
		width:700px;
		margin:35px auto;
	}
}

/*products/idページに関するスタイルここまで*/




