// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-gray:#eeeeee;

.product_form{
	height:300px;
	background-color:yellow;
}


/*adminのproductフォームに関するスタイルここから*/
#products_list{
	background-color:$light-gray;
	width:600px;
	margin:50px auto;
}

.product_list th{
	width:130px;
}

.product_list td{
	width:200px;
	text-align:center;
}


/*adminのproductフォームに関するスタイルここまで*/
