/*! responsive-nav.js 1.0.39 by @viljamis */

a.nav-toggle {
  font-size: 30px;
  position: absolute;
  margin: 30px 0 0 30px;
  color: gray;
  color: white;
}

a.nav-toggle.active {
  position: absolute;
  margin: 175px 40px -50px;
}


.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
  background-color: $theme-color;
  opacity: 0.9;
  border-bottom: 0.05px solid white;
  padding: 3px auto;

    a {
      color: white;
      margin-left: 10px;
    }
}

ul.logininfo {//SPでfbログインした際のログインprofileとログイン名のスタイル
  height: 38px;
   li {
    height: 38px;
      img {
        line-height: 38px;
        margin-left: 10px;
      }
      a {
        line-height: 38px;
      }
   }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 641px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}