
<p>このたびは、明日の城島をご利用いただきましてありがとうございます。<br>
会員登録はまだ完了しておりません。<br>
下記URLより、引き続き会員登録を継続してください。
</p>

<p><%= link_to '会員登録を完了する', user_confirmation_url(confirmation_token: @token) %></p>

<p>
※このメールは明日の城島にメールアドレスをご登録いただいた方にお送りしております。<br>
内容にお心当たりがない場合は、他の方が誤ってメールアドレスを登録したと思われます。<br>
お手数をおかけいたしますが、こちらのメールは破棄してくださいませ。
</p>
