<p>いつもsakevivaをご利用頂きありがとうございます。<br>
下記パスワードの変更方法を記載致しますのでご確認ください。<br>

※現時点でパスワードは変更されておりません。</p>

<p>下記リンクをクリックしパスワードの変更をお願い致します。<p>
<p><%= link_to 'パスワード変更はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりがない場合は、<br>
お手数をおかけいたしますが、こちらのメールは破棄くださいませ。</p>
